<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ticket-It</title>
    <meta content="Krzysztof Gwiżdż" name="author"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-Ua-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

    <link rel="icon" sizes="32x32" th:href="@{/images/icons/favicon.ico}" type="image/ico">

    <link media="screen" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css"/>
    <link media="screen" rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css"/>
</head>

<body id="page-top">

<div th:replace="fragments/navigation :: navigation">
</div>

<main>
    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Projects</li>
            </ol>
        </nav>
        <div class="row mb-4">
            <h2 class="col-md-10">Projects</h2>
            <a class="col-md-2" th:href="@{/project/create}">
                <button type="button" class="btn btn-secondary">New project</button>
            </a>
        </div>
        <div th:unless="${projectsLinks==null or #lists.isEmpty(projectsLinks)}">
            <ul>
                <li class="my-2" th:each="projectLink: ${projectsLinks}">
                    <div class="row">
                        <div class="col-xl-10">
                            <span class="display-5 org-link-header"><a th:text="${projectLink.getProject().getName()}"
                                                                       th:href="@{/project/{projectAcronym}(projectAcronym = ${projectLink.getProject().getAcronym()})}"
                                                                       href="#">Project</a></span>
                            <span class="org-member-status" th:text="${projectLink.getRole().getRoleName()}">Owner</span>
                        </div>
                        <div class="col-xl-1">
                            <button class="btn btn-outline-secondary">Settings</button>
                        </div>
                        <div class="col-xl-1">
                            <button class="btn btn-outline-secondary">Leave</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div th:if="${projectsLinks==null or #lists.isEmpty(projectsLinks)}">
            <span class="no-org-text"
                  th:text="#{projects.overview.noproject}">There are no projects to display.</span>
        </div>
    </div>
</main>

<footer id="footer" th:replace="fragments/footer :: footer">
</footer>

<script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>