<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ticket-It</title>
    <meta content="Krzysztof Gwiżdż" name="author"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-Ua-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

    <link rel="icon" sizes="32x32" th:href="@{/images/icons/favicon.ico}" type="image/ico">

    <link media="screen" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link media="screen" rel="stylesheet" th:href="@{/css/main.css}"/>
    <link media="screen" rel="stylesheet" th:href="@{/css/all.min.css}" type="text/css">
</head>
<body id="page-top">

<div th:replace="fragments/navigation :: navigation">
</div>

<main>

    <header class="jumbotron jumbotron-fluid" id="home-jumbo">
        <div class="container">
            <h1 class="display-4" th:text="#{header.jumbotron.title}"></h1>
            <p class="lead" th:text="#{header.jumbotron.subtitle}"></p>
            <a class="btn btn-primary btn-lg" href="#" th:text="#{header.jumbotron.button}"></a>
        </div>
    </header>


    <div class="container">
        <p>
            Bacon ipsum dolor amet ham hock porchetta short ribs tenderloin, boudin turducken meatball pig meatloaf
            filet
            mignon jerky capicola. Sirloin buffalo chicken kevin ball tip bacon. Corned beef buffalo picanha shankle ham
            ribeye boudin cow beef beef ribs chicken pancetta andouille meatball. Shankle porchetta tri-tip, ribeye pig
            strip steak frankfurter. Shank brisket swine, tongue landjaeger kielbasa kevin bacon filet mignon pork loin.
            Meatball fatback tenderloin venison boudin chislic t-bone turducken.
        </p>
        <p>
            Bresaola pork ball tip shoulder sausage pork chop cow tenderloin tri-tip burgdoggen ham hock. Prosciutto
            tongue
            drumstick, bacon buffalo capicola jowl venison corned beef. Sausage boudin shank pancetta. Ribeye pork loin
            doner bacon pork chop pig pork flank pastrami. Meatloaf ground round swine t-bone ham hock, bacon landjaeger
            filet mignon shoulder tail pork chop salami leberkas venison.
        </p>
        <p>
            Ground round kevin pastrami ham hock, bresaola jowl pork loin spare ribs porchetta t-bone. Venison drumstick
            spare ribs shoulder, burgdoggen tongue pancetta chicken swine. Sausage beef fatback strip steak capicola
            short
            loin ball tip meatball. Pork loin turkey chislic, leberkas landjaeger andouille ground round brisket pig
            ball
            tip t-bone fatback kevin chuck salami. Biltong cow pancetta, rump kevin shoulder pig capicola andouille
            turducken beef salami pork chop chicken.
        </p>
        <p>
            Drumstick turducken rump bacon, sirloin shank cupim. Ground round spare ribs leberkas, ham hock turkey beef
            ribs
            meatloaf sausage shoulder t-bone. Tri-tip tenderloin prosciutto andouille chuck t-bone kielbasa meatball
            chislic. Turkey filet mignon short loin, beef ribs beef prosciutto ball tip pork chop doner boudin sausage.
        </p>
        <p>
            Ham pig short loin, pork buffalo jowl chuck kielbasa landjaeger jerky turkey short ribs picanha cow. Strip
            steak
            leberkas venison cupim prosciutto pig burgdoggen turducken brisket meatloaf short loin pork shoulder ham
            andouille. Short loin alcatra cupim, landjaeger buffalo andouille spare ribs kielbasa chislic burgdoggen
            salami
            pork loin. Tenderloin cupim ribeye pork loin spare ribs ball tip. Bacon pig pork loin fatback, biltong jowl
            alcatra pastrami pork chop. Prosciutto cow capicola, spare ribs shank t-bone biltong. Ball tip andouille
            buffalo
            ribeye, short ribs kevin turkey leberkas ham hock venison spare ribs doner pig rump.
        </p>
        <p>
            Biltong jerky alcatra, prosciutto meatloaf corned beef drumstick kevin chuck ham hock boudin chicken tail.
            Ham
            hock doner prosciutto, biltong short loin frankfurter shankle pastrami landjaeger chislic ham buffalo filet
            mignon jerky salami. Landjaeger prosciutto drumstick, ball tip frankfurter leberkas tenderloin jerky
            capicola
            pancetta doner andouille. Kielbasa biltong sirloin rump meatball filet mignon cupim turkey tri-tip chuck
            doner
            buffalo. Pork chop jerky pastrami corned beef burgdoggen capicola turkey pork belly bacon filet mignon swine
            landjaeger shoulder. Ham cupim drumstick bacon venison swine, beef ribs ribeye t-bone corned beef meatball.
        </p>
        <p>
            Beef ribs turkey tail fatback meatball chicken shankle sirloin. Boudin leberkas picanha chuck chicken, shank
            beef bacon shoulder chislic jerky pastrami. Jowl doner frankfurter pork chop tail. Drumstick pork chop tail
            shank. Tail ribeye chislic, bresaola buffalo meatball burgdoggen spare ribs kevin landjaeger swine jowl
            meatloaf
            biltong. Pork belly tongue turducken, jerky tri-tip sausage pancetta.
        </p>
        <p>
            Kevin rump pork salami, corned beef kielbasa cupim tri-tip frankfurter pancetta alcatra. Jowl salami t-bone
            pancetta ball tip, turkey chicken picanha chuck. Filet mignon chicken brisket, bresaola chuck pancetta
            turkey.
            Prosciutto corned beef porchetta pastrami ham hock beef ribs bacon alcatra capicola tenderloin drumstick.
            Meatball fatback jerky bresaola ground round chislic leberkas strip steak. Ham hock andouille meatloaf strip
            steak turkey sirloin tri-tip shankle chislic kevin jerky filet mignon swine. Shoulder turducken salami
            t-bone
            tongue flank.
        </p>
        <p>
            Chislic jowl swine cow sirloin, venison tongue. Sausage andouille fatback ground round, beef picanha
            frankfurter. Pastrami ground round pork belly chislic shankle biltong porchetta ball tip strip steak jerky
            shank
            beef spare ribs tenderloin meatball. Turkey corned beef buffalo capicola, fatback ham shank short ribs bacon
            shankle chicken pork loin doner prosciutto tenderloin.
        </p>
        <p>
            Cupim doner flank swine, burgdoggen andouille chicken. Filet mignon bacon meatball, hamburger pig andouille
            doner alcatra turkey chislic tenderloin boudin. Swine leberkas ball tip ham, boudin brisket strip steak
            pancetta
            pork belly meatball chicken flank meatloaf. Short ribs hamburger doner fatback salami, ribeye cow capicola
            pork
            loin.
        </p>
    </div>

</main>

<footer id="footer" th:replace="fragments/footer :: footer">
</footer>

<script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>