.main-section {
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;
}

.modal-content {
    padding: 20px 18px;
    border-radius: 10px;
    background-color: lightgray;
}

.form-logo img {
    height: 50px;
    width: 50px;
}

#usersIcon {
    font-size: 3rem;
}

#globalErrorsBox {
    width: 100%;
    background-color: #ffbdce;
    border: 1px solid #dc3545;
}