* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 56px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

nav {
    background-color: white;
}

#home-jumbo {
    color: white;
    background-image: url('/images/jumbo1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer>div.container {
    background-color: lightgray;
    padding: 50px 0;
}

.error-message {
    width: 100%;
    font-size: 80%;
    color: #dc3545;
}

ul.no-punctation {
    list-style-type: none;
}

.ticket-date {
    font-size: 0.8rem;
    color: #a0a0a0;
}

.org-link-header {
    font-size: 1.1rem;
}